.popup__subtitle {
  font-size: 36px;
  font-weight: bold;
  color: #FF8811;
  margin: 0;
  text-align: center;
}

@media screen and (max-width: 1025px) {
  .popup__subtitle {
    font-size: 26px;
  }
}
