.introduce__title {
  margin: 136px 0 20px;
  max-width: 800px;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  color: #FF8811;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 2;
}
