.header__menu-item {
  position: relative;
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-right: 10px;
}

.header__menu-item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 57px;
  background-color: #095256;
  z-index: 0;
  opacity: .7;
  transition: opacity .3s ease-in;
}

.header__menu-item:hover.header__menu-item::after {
  opacity: 1;
  cursor: pointer;
}

.header__menu-item:last-of-type {
  margin: 0;
}


@media screen and (max-width: 850px) {
  .header__menu-item::after {
    width: 100%;
    height: auto;
    z-index: 1;
    border-bottom: 1px solid #fff;
  }

}
