.popup__container {
  border: 1px solid rgba(0, 0, 0, 0.47);
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 800px;
  height: 600px;
  padding: 70px 60px 50px;
  position: relative;
}
