@import url(../vendor/normalize.css);

.quiz__button_test {
  background: floralwhite;
  height: 40px;
  width: 100%;
}

.page {
  background: #fff;
  color: #000;
  font-family: "Arial", sans-serif;
  max-width: 1440px;
  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
}


.page__max {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px 0;
}

.header {
  background-color: #4844FD;
  height: 56px;
  display: flex;
  align-items: center;
  width: 100%;
}

.header__box {
  width: 1100px;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  width: 159px;
  height: 32px;
}

.header__menu{
  min-width: 30%;
}

.header__menu-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;

}

.header__link {
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}


.services {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 32px;
  row-gap: 16px;

}

.card {
  border: 0.5px solid #C4C4C4;
  box-sizing: border-box;
  padding: 26px 40px 17px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  min-height: 160px;
}

.card__pic {
  width: 79px;
  height: 68px;
  margin-right: 70px;
}


.card__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  margin: 0 0 25px;
}

.card__menu {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

.card__menu-item {
  margin-bottom: 10px;
  transition: transform .3s ease-in;
}

.card__menu-item:hover {
  cursor: pointer;
  color: #4844FD;
  transform: scale(1.2);

}

.news {
  padding: 50px 0;
  width: 100%;
}

.news__grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 32px;
  row-gap: 16px;
}


.news__card-poem {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.news-card__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  box-sizing: border-box;
  padding: 10px 0;
}

.news-card__title {
  margin: 0 20px 0 0;
}

.news-card__like {
  border: none;
  background-color: transparent;
  padding: 0;
  background-image: url(../images/like.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 26px;
  min-height: 26px;
  object-fit: cover;
}

.news-card__like_active {
  background-image: url(../images/like-black.svg);
}


.news-card__pic {
  width: 100%;
  object-fit: cover;
}

.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s, opacity 0.3s ease-in;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
}


.popup__container {
  border: 1px solid rgba(0, 0, 0, 0.47);
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 916px;
  max-height: 745px;
  padding: 40px 90px;
  position: relative;
}

.popup__title {
  font-size: 32px;
  line-height: 39px;

}

.popup__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  row-gap: 40px;
  padding: 0;
}

.popup__input {
  background-color: #C4C4C4;
  box-sizing: border-box;
  height: 60px;
  width: 100%;
  margin: 0;
  padding: 10px;
  border: none;
  font-size: 26px;
  line-height: 39px;
  width: 100%;
}
.popup__grid {
  position: relative;
}


.popup__grid_type_category{
  grid-column: 1/3;
}

.popup__input-error{
  position: absolute;
  left: 0;
  top: 100%;

}

.popup__input-error_active{
  color: red;
  font-size: 14px;
}

.popup__input_type_error {
  border: 1px solid red;
}


.popup__submit-btn {
  width: 350px;
  height: 67px;
  background-color: #4844FD;
  color:#fff;
  grid-column: 1/3;
  justify-self: center;
  font-size: 32px;
  line-height: 39px;
}

.popup__submit-btn_inactive {
  background-color:  #E5E5E5;
  opacity: 0.2;
  color: #000;
}

.popup__close {
  position: absolute;
  right: -42px;
  top: -45px;
  background-color: transparent;
  border: none;
  padding: 0;
  background-image: url(../images/close-btn.svg);
  background-color: #4844FD;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  transition: opacity .3s ease-in;
}


.popup__container_type_message {
  width: 600px;
  height: 700px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup__header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: flex-end;
  margin: 0;
  padding: 0;
}

.popup__content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  height: 70%;
}

.popup__send-btn {
  width: 250px;
  height: 50px;
  background-color: #4844FD;
  color:#fff;
  font-size: 26px;
  line-height: 28px;
}

.popup__category {
  font-size: 20px;
  line-height: 22px;
  margin: 0 0 10px;
}

.popup__title_type_message {
  margin: 20px 0 10px;
}
