@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../style/slider.css);


.popup__info-text {
  line-height: 2
}


.page {
  background: #E5E5E5;
  color: #000;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: normal;
  max-width: 1440px;
  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
}

.popup_type_blank {
  opacity: 1;
  visibility: hidden;
}

.page__max {
  max-width: 1100px;
  margin: 0 auto;
  /* padding: 0 30px 0; */
}

.header {
  background-color: #fff;
  min-height: 80px;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.header__box {
  width: 1100px;
  color: #000;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 350px;
  height: 59px;
  position: relative;
}

.logo::after{
  content: '';
  width: 219px;
  height: 45px;
  position: absolute;
  background-color: #FF8811;
  top: 0;
  left: 0;
  z-index: 1;
}

.logo__text{
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0;
  z-index: 2;
  color: #095256;

}

.header__menu{
  min-width: 30%;
}

.header__menu-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;

}

.header__link {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: normal;
  font-size: 22px;
  line-height: 24px;
  color: #000;

}

.introduce {
  min-height: 425px;
  background-image: url(../images/main-variant2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20px 40px;
  position: relative;
}

.introduce::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #095256;
  opacity: .4;
  z-index: 0;
}



.introduce__title{
  margin: 136px 0 20px;
  max-width: 800px;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  color: #FF8811;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 2;
}

/* .introduce::after{
  content: '';
  background-color: #FF8811;
  width: 60%;
  height: 115px;
  opacity: 0.5;
  position: absolute;
  top: 162px;
  left: 0;
  z-index: 0;
} */

.introduce__subtitle{
  margin: 0;
  max-width: 700px;
  font-size: 22px;
  line-height: 30px;
  color: #fff;
  z-index: 2;
  position: relative;

}

.introduce__link{
  display: flex;
  margin: 40px auto;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 60px;
  background-color: #FF8811;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  box-sizing: border-box;
  z-index: 2;
  position: relative;
}

.introduce__link-text{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
  line-height: 29px;
  z-index: 2;
  position: relative;
}


.services {
  padding: 100px 0 60px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 32px;
  row-gap: 66px;

}

.card {
  border: 0.5px solid #C4C4C4;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  position: relative;
  height: 240px;
  display: flex;
}



.card__content {
  margin: auto;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #fff;
  background-size: cover;
  padding: 30px 20px;
  box-sizing: border-box;

}

.card__pic {
  display: block;
  flex-basis: 200px;
  height: 146px;
  object-fit: cover;
  margin-right: 30px;
  /* flex-shrink: 2; */
}


.card__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  padding: 10px 40px;
  position: absolute;
  top: -43px;
  left: -20px;
  z-index: 0;
  color: #fff;
  background-color: rgba(9, 82, 86, 0.82);
  width: 100%;
  height: 30%;
  box-sizing: border-box;
}

.card__menu {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  box-sizing: border-box;
  flex-shrink: 1;
}

.card__menu-item {
  font-weight: normal;
  margin: 0 0 10px;
  transition: transform .3s ease-in;
}

.card__menu-item:hover {
  cursor: pointer;
  color:#FF8811;
  transform: scale(1, 1.08);
}

.news {
  padding: 8px 0;
  position: relative;
  width: 100%;
  background-color: #fff;
}



.news__title {
  margin: 0 0 21px;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  z-index: 2;
}

.news::after {
  content: '';
  position: absolute;
  top: -20px;
  left: 0;
  width: 19%;
  height: 52px;
  background-color:#FF8811;
  z-index: 0;
}

.news-card__title {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  margin: 20px 0 0;
}

.news-card__like {
  border: none;
  background-color: transparent;
  padding: 0;
  background-image: url(../images/like.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 26px;
  min-height: 26px;
  object-fit: cover;
  position: absolute;
  top: 20px;
  right: 20px;
  margin-left: 10px;
  z-index: 4;
}

.news-card__like_active {
  background-image: url(../images/like-active.svg);
}






.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(9,82,86,0.7);
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s, opacity 0.3s ease-in;
  z-index: 3;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
}


.popup__container {
  border: 1px solid rgba(0, 0, 0, 0.47);
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 800px;
  height: 600px;
  padding: 70px 60px 50px;
  position: relative;
}

.popup__title {
  font-size: 32px;
  line-height: 39px;
  margin: 0 0 30px;
}

.popup__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr .6fr .6fr 1fr;
  column-gap: 30px;
  row-gap: 30px;
  padding: 0;
}

.popup__input {
  background-color: #E6E6E6;
  border: none;
  box-sizing: border-box;
  height: 60px;
  width: 100%;
  margin: 0;
  padding: 10px;
  font-size: 26px;
  line-height: 39px;
  width: 100%;
}

.popup__input:valid {
  border: 3px solid #FF8811;
  background-color: #fff;
}


.popup__input:focus {
  border: 3px solid #095256;
}

.popup__grid {
  position: relative;
}


.popup__grid_type_category{
  grid-column: 1/3;
  grid-row: 3/5;
}

.popup__input-error{
  position: absolute;
  left: 0;
  top: 92%;
}

.popup__input-error_active{
  color: red;
  font-size: 12px;
}

.popup__input_type_error {
  border: 2px solid red;
}

.popup__input_category{
  height: 100%;
  text-align: center;
  border: 3px solid #FF8811;
  background-color: #fff;
}


.popup__submit-btn {
  width: 350px;
  height: 67px;
  background-color: #FF8811;
  color:#fff;
  grid-column: 1/3;
  justify-self: center;
  font-size: 26px;
  line-height: 39px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  transition: color .4s linear;
}


.popup__submit-btn:hover {
  cursor: pointer;
  color: #095256;
}

.popup__submit-btn:focus {
  outline: none;
  color: #095256;
}



.popup__submit-btn_inactive {
  background-color:  #E5E5E5;
  color: rgb(126, 126, 126);
}

.popup__submit-btn_inactive:hover {
  background-color:  #E5E5E5;
  color: rgb(126, 126, 126);
}


.popup__close {
  position: absolute;
  right: 11px;
  top: 11px;
  background-color: transparent;
  border: none;
  padding: 0;
  background-image: url(../images/cross-remove-sign.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  transition: opacity .3s ease-in;
}

.popup__close:hover {
  opacity: .7;
  cursor: pointer;
}


.popup__container_type_message {
  max-width: 600px;
  max-height: 780px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup__header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: flex-end;
  margin: 0;
  padding: 0;
}

.popup__content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70%;
}

.popup__btn-wrapper {
  display: flex;
}

.popup__print {
  top: 1%;
  top: 1;
  z-index: 10;
  position: absolute;
  max-width: 50%;
  left: 1%;
}

.popup__send-btn {
  width: 250px;
  height: 50px;
  background-color: #4844FD;
  color:#fff;
  font-size: 26px;
  line-height: 28px;
  text-align: center;
  text-decoration: none;
}

.popup__category {
  font-size: 20px;
  line-height: 22px;
  margin: 0 0 10px;
}

.popup__title_type_message {
  margin: 20px 0 10px;
}
