  /* body, html
{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-size: 16px;
	font-family: helvetica, arial;
	background: #f9f9f9;
	color: #111;
} */

/* .quiz {
	font-family: helvetica, arial;
	width: 50%;
	height: 50%;
	display: table;
	margin: auto;;
	background: #f9f9f9;
} */

.popup__quiz {

	display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgba(43, 36, 36, 0.4); */
    width: 100%;
    height: 100%;
    opacity: 1;
    /* visibility: visible; */
    /* transition: visibility 0.3s, opacity 0.3s ease-in; */
}

.popup__quiz_opened {
	visibility: visible;
  } 

.quiz__container {
	width: 25%;
	background: aliceblue;
	border: 1px solid rgba(0, 0, 0, 0.47);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	display: table;
	vertical-align: middle; 
	text-align: center;
}

.quiz__title {
	font-size: 38px;
	padding: 0 18px;
	
}

.quiz-frame {
	border: 0;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.quiz__head {
	background-color: rgb(187, 212, 177);
	justify-content: center;
    display: flex;
	text-align: start;
    font-size: 20pt;
	margin: 10px;
}

.quiz__title {
	background-color: rgb(169, 209, 190);
	display: flex;
	flex-direction: column;
	font-size: 20px;
	margin: 10px;
}

.head__content {
	/* margin: auto; */
	max-width: 200px;
	font-weight: normal;
    font-size: 20px;
    line-height: 21px;
	padding: 5px;
}

.quiz__body {
	background-color: rgb(181, 226, 177);
    margin: 10px;
}

.quiz__footer {
	position: absolute;
	bottom: 0;
	display: block;
	width: 100%;
}

.footer__content {
	padding: 5px;
}

.button {
	border: 0;
    border-radius: 10px;
    background: #93ab9f;
    color: #fff;
    padding: 10px 25px;
    width: 99%;
    font-size: 15pt;
    display: block;
    margin: 2px auto;
	cursor: pointer;
	transition: transform .3s ease-in;
}

.button_wrong {
	background: #EB6465;
}

.button_correct {
	background: #5EB97D;
}

.button_passive {
	background: #B3B3B3;
}

