.quiz__head-content {
  font-size: 24px;
  line-height: 29px;
  max-width: 300px;
  font-weight: normal;
  margin-bottom: 30px;
}

@media screen and (max-width: 750px) {
  .quiz__head-content {
    font-size: 20px;
    line-height: 24px;
  }
}
