.card__content {
  margin: auto;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #fff;
  background-size: cover;
  padding: 30px 20px;
  box-sizing: border-box;
}
