.card__pic {
  display: block;
  flex-basis: 200px;
  height: 146px;
  object-fit: cover;
  margin-right: 30px;
}


@media screen and (max-width: 625px) {
  .card__pic{
    width: 100px;
    height: auto;
  }
}

@media screen and (max-width: 450px) {
  .card__pic{
    width: 200px;
    height: 180px;
    margin-right: 0;
    object-fit: contain;

  }
}
