@import url(../vendor/normalize.css);


.page {
  background: #fff;
  color: #000;
  font-family: "Arial", sans-serif;
  max-width: 1440px;
  min-width: 320px;
  min-height: 100vh;
  margin: auto;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page__max {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px 0;
}

.header {
  background-color: #4844FD;
  height: 56px;
  display: flex;
  align-items: center;
  width: 100%;
}

.header__box {
  width: 1100px;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  width: 159px;
  height: 32px;
}

.header__menu{
  min-width: 50%;
}

.header__menu-list {
  display: flex;
  list-style: none;
  justify-content: space-around;
  margin: 0;
  padding: 0;

}

.header__link {
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}


.services {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 32px;
  row-gap: 16px;

}

.card {
  border: 0.5px solid #C4C4C4;
  box-sizing: border-box;
  padding: 26px 40px 17px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  min-height: 160px;
}

.card__pic {
  width: 79px;
  height: 68px;
  margin-right: 70px;
}


.card__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  margin: 0 0 25px;
}

.card__menu {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

.news {
  padding: 50px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 32px;
  row-gap: 16px;
}


.news__card-poem {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.news-card__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  box-sizing: border-box;
  padding: 10px 0;
}

.news-card__title {
  margin: 0 20px 0 0;

}

.news-card__like {
  border: none;
  background-color: transparent;
  padding: 0;
  background-image: url(../images/like.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 26px;
  min-height: 26px;
  object-fit: cover;
}

.news-card__pic {
  width: 100%;
  object-fit: cover;
}

.popup {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

}


.popup__container {
  border: 1px solid rgba(0, 0, 0, 0.47);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 916px;
  max-height: 745px;
  padding: 40px 90px;
  position: relative;

}

.popup__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  padding: 0;
}

.popup__input {
  background-color: #C4C4C4;
  box-sizing: border-box;
  height: 60px;
  width: 100%;
  margin: 0 0 36px 0;
  border: none;
  font-size: 26px;
  line-height: 39px;
  width: 100%;
}

.popup__input_surname{
  margin-right: 30px;
}


.popup__field{
  border: none;
  padding: 0;
  width: 100%;
}

.popup__field_userData {
  display: flex;
  justify-content: space-between;

}

.popup__input_poem-text {
  background: #d7e0e6; /* Цвет фона */
  border: 2px solid #5ea8be; /* Параметры рамки */
  padding: 10px; /* Поля */
  width: 100%; /* Ширина */
  height: 200px; /* Высота */
  box-sizing: border-box; /* Алгоритм расчёта ширины */
  font-size: 14px; /* Размер шрифта */
  }


/* .popup__field_autoField {
  display: block;
  width: 100%;
} */

.popup__submit-btn {
  width: 350px;
  height: 67px;
  background-color: #4844FD;
  color:#fff;
  align-items: flex-end;

}

.popup__close {
  position: absolute;
  right: -42px;
  top: -45px;
  background-color: transparent;
  border: none;
  padding: 0;
  background-image: url(../images/close-btn.svg);
  background-color: #4844FD;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  transition: opacity .3s ease-in;
}
