.logo__text {
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0;
  z-index: 2;
  color: #095256;
}

.logo__text::after {
  content: '';
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 6px;
  left: -12px;
  z-index: 1;
  background-image: url(../../../images/quill.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}


@media screen and (max-width: 450px) {
  .logo__text{
    font-size: 18px;
    line-height: 26px;
  }

  .logo__text::after {
    width: 38px;
    height: 38px;
  }
}

