.popup__title {
  font-size: 32px;
  line-height: 39px;
  margin: 0 0 30px;
}


@media screen and (max-width: 1025px) {
  .popup__title {
    font-size: 26px;
    line-height: 28px;
    margin: 0 0 20px;
  }
}
