.button {
  border: none;
  background-color: rgba(9, 82, 86, 0.9);
  color: #fff;
  padding: 10px 25px;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 2px auto;
  cursor: pointer;
  letter-spacing: 2px;
  transition: color .3s ease-in;
}

.button:hover{
  cursor: pointer;
  color: #FF8811;
}

@media screen and (max-width: 750px) {
  .button {
    font-size: 16px;
    padding: 10px 10px;
  }
}
